<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=700">
    <title>Order Confirmed - Junior's Cheesecakes</title>
    <style>
        @font-face {
            font-family: 'OC Highway-9';
            src: url('https://cdn.shopify.com/s/files/1/0694/7517/2609/files/OCHighwayVAR2-Series9.otf?v=1740074638') format('truetype');
          
        }
        @font-face {
            font-family: 'OC Highway-6';
            src: url('https://cdn.shopify.com/s/files/1/0694/7517/2609/files/OCHighwayVAR2-Series6.otf?v=1740074640') format('truetype');
          
        }
        @font-face {
            font-family: 'Helvetica';
            src: url('https://cdn.shopify.com/s/files/1/0694/7517/2609/files/Helvetica.ttf?v=1740071155') format('truetype');
        }
        @font-face {
            font-family: 'WhitneyCondensed';
            src: url('https://cdn.shopify.com/s/files/1/0694/7517/2609/files/WhitneyCondensed-Bold.otf?v=1740582679') format('truetype');
        }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#FBF6EA;">
    <!-- Outer container table with fixed width -->
    <table width="700" align="center" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background-color:#FBF6EA;">
        <!-- HEADER -->
        <tr>
            <td style="background-image: url('https://cdn.shopify.com/s/files/1/0694/7517/2609/files/HEADER_MASTER_NO_LINKS_-_DESKTOP.png?v=1739783238'); background-size: cover; background-position: center; background-repeat: no-repeat; height:202px;">
                &nbsp;
            </td>
        </tr>
        <!-- MAIN CONTENT -->
        <tr>
            <td style="padding:20px;">
                <!-- Order Confirmation Block -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size:14px; font-weight:regular; color:#000000; padding-top:40px;">
                            Order: <a href="https://juniors-cheesecake.myshopify.com/" target="_blank" style="text-decoration:underline; color:#D93400;">{{ order.order_number }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: 'OC Highway-9', sans-serif; font-size:22px; font-weight:400; letter-spacing:5%; color:#D93400; padding:10px 0; text-transform:uppercase;">
                            Your Order Has Shipped!
                        </td>
                    </tr>
                </table>
                <!-- Order Progress Image -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style=" ">
                            <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/order-shipped.png?v=1740071979" width="502" height="97" alt="Order Progress" style="margin-bottom:80px; display:block; border:0;">
                        </td>
                    </tr>
                </table>
                <!-- Estimated Delivery Time -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:80px;">
                    <tr>
                        <td align="center" style="font-family: Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#D93400; padding-bottom:16px;">
                            ESTIMATED DELIVERY DATE:
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size:14px; color:#000000; padding-bottom:24px;">
                            {% if delivery_promise_branded_shipping_line %}
  {{ delivery_promise_branded_shipping_line }}
{% else %}
  {{ shipping_method.title }}
{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="{{ order.order_status_url }}" style="padding:15px 95px ; font-family:  WhitneyCondensed,Helvetica; letter-spacing: 1.5px; display:inline-block; background-color:#D93400; color:#FFFFFF; letter-spacing: 4%; font-size:16px; font-weight:bold; text-decoration:none;  border-radius: 6px;">
                                TRACK YOUR ORDER
                            </a>
                        </td>
                    </tr>
                </table>
                <!-- Order Summary Section -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 48px;">
                    <!-- Order Items -->
                    <tr>
                        <td style="font-family: Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#D93400; padding-bottom:20px;">
                            ORDER SUMMARY
                        </td>
                </tr>
                    <tr>
                        <td style="padding:20px; border-top: 1px solid #C1C2BC; border-left: 1px solid #C1C2BC; border-right: 1px solid #C1C2BC; border-top-left-radius: 8px; border-top-right-radius: 8px;">
                            {% for line_item in order.line_items %}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" {% unless forloop.last %}style="margin-bottom: 27px; border-bottom:1px solid #E0E0E0;"{% else %}style="margin-bottom: 27px;"{% endunless %}>
                                <tr>
                                    <td width="80" valign="top">
                                        <img src="{{ line_item.image | img_url: '80x80', crop: 'center' }}" alt="{{ line_item.title }}" width="80" height="80" style="display:block; margin-bottom: 20px; border:0;">
                                    </td>
                                    <td valign="top" style="padding-left:10px;">
                                        <div style="font-family: Helvetica, sans-serif; font-size:16px; font-weight:700; letter-spacing:4%; color:#121211; margin:0 0 5px 0;">{{ line_item.title | replace: '&amp;', '&' | replace: '&#39;', "'" | replace: '&quot;', '"' | upcase }}</div>
                                     
                                        <div style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">SKU# {{ line_item.sku }}</div>
                                        <div style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">QTY: {{ line_item.quantity }}</div>
                                    </td>
                                    <td align="right" valign="top" style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">
                                        {{ line_item.final_price | money }}
                                    </td>
                                </tr>
                            </table>
                            {% endfor %}
                            {% if order.note %}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff; padding:24px; margin-top:15px; border-radius:8px;">
                                <tr>
                                    <td style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400;">
                                        GIFT MESSAGE
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">
                                        {{ order.note }}
                                    </td>
                                </tr>
                            </table>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- Order Totals -->
                    <tr>
                        <td style="padding:20px;  background-color:#FFFFFF; border-bottom: 1px solid #C1C2BC; border-left: 1px solid #C1C2BC; border-right: 1px solid #C1C2BC; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr style="padding-bottom: 10px;">
                                    <td style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">Subtotal</td>
                                    <td align="right" style="font-family: Arial, sans-serif; font-size:14px; color:#000000;">{{ order.subtotal_price | money }}</td>
                                </tr>
                                <tr style="padding-bottom: 24px;">
                                    <td style="font-family: Arial, sans-serif; font-size:14px; color:#000000;padding-top:10px;">Shipping</td>
                                    <td align="right" style="font-family: Arial, sans-serif; font-size:14px; color:#000000; padding-top:10px;">{{ order.shipping_price | money }}</td>
                                </tr>
                                <tr>
                                    <td style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400;padding-top:20px;">TOTAL:</td>
                                    <td align="right" style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400;padding-top:20px; ">{{ order.total_price | money }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" style="font-family: Arial, sans-serif; font-size:14px; color:#000000; padding-top:27px;">
                                        Order: <span style="text-decoration:underline; color:#D93400;">{{ order.order_number }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- Delivery Information Section -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
                    <tr>
                        <td style="font-family: Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#D93400; padding-bottom:20px;">
                            PAYMENT AND DELIVERY
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px; background-color:#FFFFFF; border:1px solid #C1C2BC; border-radius:8px;">
                            <!-- Dates -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <div style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400; padding-bottom:8px;">
                                        ORDER DATE
                                    </div>
                                    <div align="left" style="font-family: Arial, sans-serif; font-size:14px; color:#121211; padding-bottom:8px;">
                                        {{ order.created_at | date: "%B %d, %Y %I:%M:%S %p %Z" }}
                                    </div>
                                </tr>
                               
                            </table>
                            <!-- Addresses -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
                                <tr>
                                    <td width="50%" valign="top" style="padding-right:10px;">
                                        <div style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400; padding-bottom:8px;">SHIPPING ADDRESS</div>
                                        <div style="font-family: Arial, sans-serif; font-size:14px; color:#121211; line-height:1.4;">
                                            {{ order.shipping_address.name }}<br>
                                            {{ order.shipping_address.address1 }}<br>
                                            {{ order.shipping_address.city }}, {{ order.shipping_address.province_code }}<br>
                                            {{ order.shipping_address.zip }}<br>
                                            P: {{ order.shipping_address.phone }}
                                        </div>
                                    </td>
                                    <td width="50%" valign="top" style="padding-left:10px;">
                                        <div style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold; color:#D93400; padding-bottom:8px;">BILLING ADDRESS</div>
                                        <div style="font-family: Arial, sans-serif; font-size:14px; color:#121211; line-height:1.4;">
                                            {{ order.billing_address.name }}<br>
                                            {{ order.billing_address.address1 }}<br>
                                            {{ order.billing_address.city }}, {{ order.billing_address.province_code }}<br>
                                            {{ order.billing_address.zip }}<br>
                                            P: {{ order.billing_address.phone }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- Payment Method -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
                                <tr>
                                    <td style="font-family: Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#D93400; padding-bottom:8px;">
                                        PAYMENT METHOD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% assign card_type = order.transactions[0].payment_details.credit_card_company | downcase %}
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align:middle; padding-right:8px;">
                                                    <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/unnamed_1.png?v=1740069967" alt="{{ order.transactions[0].payment_details.credit_card_company }}" width="auto" height="32" style="display:block; border:0;">
                                                </td>
                                                <td style="vertical-align:middle; font-family: Arial, sans-serif; font-size:14px; color:#000000;">
                                                    {{ order.transactions[0].payment_details.credit_card_company }} {{ order.transactions[0].payment_details.credit_card_number }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- Customer Support Section -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:48px;">
                    <tr>
                        <td style="font-family: Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#D93400; padding-bottom:20px;">
                            CUSTOMER SUPPORT
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px; background-color:#FFFFFF; border:1px solid #C1C2BC; border-radius:20px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="padding:10px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align:middle; padding-right:8px;">
                                                    <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/phone.png?v=1739783239" alt="Phone" width="24" height="24" style="display:block; border:0;">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <div style="font-family: Arial, sans-serif; font-size:14px; color:#D93400;">
                                                        <a href="tel:718-852-5257" style="color:#D93400; text-decoration:underline;">718-852-5257</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" style="padding:10px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align:middle; padding-right:8px;">
                                                    <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/envelope.png?v=1739783242" alt="Email" width="24" height="24" style="display:block; border:0;">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <div style="font-family: Arial, sans-serif; font-size:14px; color:#D93400;">
                                                        <a href="mailto:info@juniorscheesecake.com" style="color:#D93400; text-decoration:underline;">Send an Email</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" style="padding:10px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="vertical-align:middle; padding-right:8px;">
                                                    <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/message-square-check.png?v=1739783238" alt="FAQ" width="24" height="24" style="display:block; border:0;">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <div style="font-family: Arial, sans-serif; font-size:14px; color:#D93400;">
                                                        <a href="/faq" style="color:#D93400; text-decoration:underline;">See our FAQs</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- FOOTER -->
        <tr>
            <td style="padding:40px 0; text-align:center; background-color:#FBF6EA;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="position:relative;">
                            <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/Group_10126004.png?v=1740067623" alt="Footer Background" width="700" style="display:block; border:0;">
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:28px;">
                    <tr>
                        <td align="center">
                            <p style="font-family: Arial, sans-serif; font-size:15px; font-weight:bold; text-transform:uppercase; margin:0 0 20px 0; display:block; color:#D93400;">
                                FOLLOW US
                            </p>
                            <table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
                                <tr>
                                    <td style="padding:0 10px;">
                                        <a href="http://www.facebook.com/pages/Juniors-Restaurant/157798597584671" style="display:inline-block; text-decoration:none;">
                                            <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/Facebook.png?v=1739783242" alt="Facebook" width="auto" height="36" style="display:block; border:0;">
                                        </a>
                                    </td>
                                    <td style="padding:0 10px;">
                                        <a href="https://www.instagram.com/juniorscheesecake/" style="display:inline-block; text-decoration:none;">
                                            <img src="https://cdn.shopify.com/s/files/1/0694/7517/2609/files/Instagram.png?v=1739783238" alt="Instagram" width="auto" height="36" style="display:block; border:0;">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size:14px; padding-top:20px;">
                            <strong>Junior's Restaurant & Cheesecake</strong><br>
                            386 Flatbush Avenue EXT, Brooklyn, NY 11201, USA, 7188525257
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: Arial, sans-serif; font-size:12px; padding-top:10px;">
                       <a href="{{ unsubscribe_url }}" style="margin-right: 10px; color:#000000; text-decoration:underline;">Unsubscribe</a>
                            
                           <a href="#" style="color:#000000; text-decoration:underline;">Manage Preferences</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>